<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty website was built by <a target="_blank" href="https://joeholley.netlify.com">Joe</a>. I am a web developer working hard to learn the technical skills needed to launch my own MVPs and turn ideas into reality.
  </p>
  <br />
  <p>
    It has been a lot of work learning to be a web developer and there is still much to learn.  One thing I have come to appreciate about the process is that there will always be more to learn.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'joe.jpeg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joe Holley</h2>
      <br />
      <p>
        Joe is a web developer with a diverse background in the tech industry.  He has worked in the semiconductor, defense, and computer technical support industries for companies like Motorola, BAE, and Apple Inc. and most recently for The American Cancer Society.
      </p>
    </div>
  </div>


</div>

<br class="clear" />
<br />
<br />
<br />
<br />